.tmux/plugins/maglev
.tmux/plugins/tmux-battery/
.tmux/plugins/tmux-copycat/
.tmux/plugins/tmux-cpu/
.tmux/plugins/tmux-open/
.tmux/plugins/tmux-pain-control/
.tmux/plugins/tmux-prefix-highlight/
.tmux/plugins/tmux-resurrect/
.tmux/plugins/tmux-sensible/
.tmux/plugins/tmux-yank/

